body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Kulim Park';
    background-image: url(tresgalinhas.png);
    background-color: #FFC000;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .cabecalho {
    padding-top: 0px;
    background: #8e0e7f;
    width: 100%;
    height: 100px;
    padding-bottom: 0px;
    overflow: auto;
    border-bottom: 3px solid #ff5b15 ;
    font-size: 21px;
  }
  
  .logo {
    margin-left: 1%;
    width: 15%;
    height: 90%;
    float: left;
  }
  
  .cabecalho nav {
    float: right;
  }
  
  ul {
    list-style: none;
    margin-top: 32px;
  }
  
  ul li {
    display: inline;
    margin-right: 25px;
    font-family: "Kulim Park";
    text-transform: uppercase;    
  }
  ul li a {
    color: white;
    font-weight: bold;
  
  }
  a:link 
  { 
  text-decoration:none; 
  } 

  ul li a:hover {  
    text-shadow: 3px 1px 1px rgb(0, 0, 0);
    transition: 0.1s;
    color: #ff5b15;

  }

.fale_conosco {
    margin-top: 2%;
    width: 60%;
    margin: auto;
    text-align: center;
    border-bottom: 3px solid #ff5b15 ;
    font-family: 'MontSerrat';
    font-weight: 1000;
    color: #8E0E7F;
    font-size: 30px;
    }

.texto_superior {
  margin: 2%;
}

.Fale{
  color: #8e0e7f;
  left: 45%;
  top: 15%;
  position: absolute;
}

.Contato {
  width: 100%;
  height: 300px;
  display: flex;
  margin-bottom: 16%;
  margin-top: 16%;
}

.Contato-info {
  margin: auto;
  margin-top: 80px;
  width: 30%;
  height: 350px;
  text-align: center;
  background-color: #8e0e7f;
  opacity: 0.7;
  font-size: 20px;
  border-radius: 10%;
  font-weight: bold;
  border: 5px solid;
  border-color: #ff5106;
}

.Contato-info span {
  color: white;
  line-height: 100px;
  font-size: 31px;
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
  }

.Contato-info h1 {
  color: white;
  opacity: 1;
}

.Contato-info p {
  line-height: 60px;
  color: white;
  font-size: 31px;
  opacity: 1;  
}

.wpp {
  width: 8%;
  top: 1.7vh;
  position: relative;
}

.fone {
  width: 4%;
  top: 0.5vh;
  position: relative;
}

.email {
  width: 4%;
  top: 0.2vh;
  position: relative;
}

.footer{
  text-align: center;
  font-weight: bold;
  background-color: #8E0E7F;
  height: 15%;
  margin: 0 0 0 0;
  color: #ff5106 ;
  position: relative;
  height: 20PX;
  font-size: 25px;
} 