body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Kulim Park', sans-serif;
 
  }

  .cabecalho {
    padding-top: 0px;
    background: #8e0e7f;
    width: 100%;
    height: 80px;
    padding-bottom: 0px;
    overflow: auto;
    border-bottom: 3px solid #ff5b15 ;
  }
  
  .logo {
    margin-left: 1%;
    height: 100%;
    float: left;
  }
  
  .cabecalho nav {
    float: right;
  }
  
  ul {
    list-style: none;
    margin-top: 32px;
  }
  
  ul li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;    
  }
  ul li a {
    color: white;
    font-weight: bold;
  
  }
  a:link 
  { 
  text-decoration:none; 
  } 

  ul li a:hover {  
    text-shadow: 3px 1px 1px rgb(0, 0, 0);
    transition: 0.1s;
    color: #ff5b15;

  }
  /* ----------------------------------------------Imagem Galinha------------------------------------------------------- */
  .img_galinha{
    text-align: center;
    background-image: url('img/img1_galinha.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
  }

  .container{
    width: 75%;
    margin: auto;
  }

  .galinha{
    color: #FFC000;
    font-size: 90px;
    font-weight: bold;
    padding-top: 268px;
    margin: 0;
  }
  /* -----------------------------------------------Texto Quem Somos------------------------------------------------------------ */
  .text_QuemSomos{
    font-size: 17px;
    text-align: center;
    font-weight:bold;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .container_two{
    width: 65%;
    margin: auto;
  }
  /* -----------------------------------------------Time------------------------------------------------------------ */
  
  .container_three{
    width: 80%;
    margin: auto;
  }
  
  .time{
    background: #7E008C;
    height: 718px;
  }

  .text_team{
    color: #FFC000;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
  }

  .container_ball{
    float: left;
    width: 32%;
    margin: auto;
    text-align: center;
  }

  .bolinha_Amarela{
    background: #FFC000;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: auto;
  }

  .container_balltwo{
    float: left;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-left: 17%;
    margin-top: 6%;
  }
  
  .container_ballthree{
    float: left;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-left: 4%;
    margin-top: 6%;
  }

  .text{
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 15px;
  }

  .img_foto{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-top: 10px;
  }

  /* -----------------------------------------------Text Serviços------------------------------------------------------------ */

  .servicos{
    color: #FFC000;
    font-size: 48px;
    text-align: center;
    font-weight:bold;
    margin-top: 60px;
    margin-bottom: 60px;
  }

   /* -----------------------------------------------Como faremos?------------------------------------------------------------ */

   .como_faremos{
     background-color: #FFC000;
     height: 1156px;
   }

   .container_roxo{
    width: 85%;
    margin: auto;
    text-align: center;
   }

   .text_como_faremos_isso{
     color: #7E008C;
     font-size: 30px;
     text-align: center;
     padding-top: 4%;
     padding-bottom: 4%;
   }

   .container_ball_roxo{
    float: left;
    width: 20%;
    margin: auto;
    text-align: center;
   }

   .container_ball_roxo_two{
    float: left;
    width: 20%;
    margin: auto;
    text-align: center;
    margin-top: 22%;
   }

   .bolinha_Roxa{
    background: #7E008C;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: auto;
  }

  .img_icone{
    width: 120px;
    height: 120px;
    margin-top: 37px;
  }

  .text_bolinha{
    text-align: center;
    font-size: 20px;
  }

  .text_roxo{
    color: #7E008C;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
    margin-top: 70px;
  }

  .rodape{
    background-color: #7E008C;
    color:#FFC000;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
  }

  .text_rodape{
    padding-top: 5px;
  }

  h4{
    margin: 0;
  }