body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
  background-image: url("fundo1.jpeg") ;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Kulim Park";
  overflow-y: hidden;
}

.tela_inteira {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  margin: auto;
    
}
 nav {
}

ul {
  float: right;
  list-style: none;
  margin-top: 1%;
}

ul li {
  display: inline;
  margin-right: 25px;
  text-transform: uppercase;    
}
ul li a {
  color: white;
  font-weight: bold;
}

a:link   { 
text-decoration:none; 
} 

ul li a:hover {  
  text-shadow: 3px 1px 1px rgb(0, 0, 0);
  transition: 0.1s;
  color: #ff5b15;

}
.slogan {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
  text-transform: uppercase;  
  font-size: 35px;
}
.contato {
color: white;
margin-top: 8%;
text-align: center;
}

.logo_pagina_inicial{
height: 50px; 
margin-left: 10px; 
margin-top: 10px; 
}

.quadrado{
  height: 90%;
  width: 80%;
  border-radius: 5%;
  background-color: black;
  opacity: 70%;
  border: solid;
  border-color: orange;
    flex-direction: row;
    justify-self: center;
    align-self: center;
}

.formulario {
  height: 10%;
  width: 100%;
}

.campos_cadastro{
  display: flex;
  height: 75%;
  justify-content: center;
}

.left_cadastro{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  
.right_cadastro{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  height: 10%;
  width: 70%;

  margin-bottom: 5%;

  border-radius: 5px;

  font-size: 150%;
  font-family:"Kulim Park";

  text-align: center;
  outline: none;
  
}

select{
  height: 10%;
  width: 70%;

  margin-bottom: 5%;

  border-radius: 5px;

  font-size: 20px;
  font-family:"Kulim Park";

  text-align: center;
  outline: none;
  
  text-align-last: center;
}

.campo_botao {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button{
  background-color: black;
  font-family: "Kulim Park";
  color: white;
  font-size: 130%;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 100%;
  outline: none;
}

.button:hover {  
  text-shadow: 3px 1px 1px rgb(0, 0, 0);
  transition: 0.1s;
  color: #ff5b15;
  cursor: pointer;
}

.texto{
  font-family: "Kulim Park";
  color: white;
  font-size: 280%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botao_cadastro {
  background-color: black;
  font-family: "Kulim Park";
  color: white;
  font-size: 130%;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 100%;
  outline: none;
}

.botao_cadastro:hover {  
  text-shadow: 3px 1px 1px rgb(0, 0, 0);
  transition: 0.1s;
  color: #ff5b15;
  cursor: pointer;
}