/* ::-webkit-scrollbar{
  width: 8px;
  height: 20px; 
}

::-webkit-scrollbar-button{
  height: 0.1px;
}
::-webkit-scrollbar-track {
  background-color: #FF5B15;
}

::-webkit-scrollbar-thumb{
  background-color: #8e0e7f;
  border-radius: 10px;
} */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Kulim Park';
    background-image: url(img/umagalinha.jpg);
    background-color: transparent;
    /* background-blend-mode: luminosity; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .cabecalho {
    background-color: #8E0E7F;
    border-bottom: 3px solid #FF5B15;
    width: 100%;
    margin: 0;
    position: fixed;
  }
  
  .logo {
      height: 80px;
      margin-left: 1%;
  }
  
  .cabecalho nav {
    float: right;
  }
  
  ul {
    list-style: none;
   padding-top: 3.7%;
  }
  
  ul li {
    display: inline;
    margin-right: 25px;
    font-family: "Kulim Park";
    text-transform: uppercase;  
    color: #B1B1B1;  
  }
  ul li a {
    color: white;
    font-weight: bold;
  
  }
  a:link 
  { 
  text-decoration:none; 
  } 

  ul li a:hover {  
    text-shadow: 3px 1px 1px rgb(0, 0, 0);
    transition: 0.1s;
    color: #ff5b15;

  }

.fale_conosco {
    margin-top: 2%;
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 1200;
    color: #8e0e7f;
    font-size: 40px;
    width: 99%;
    padding-top: 11%;
    }

.texto_superior {
  margin: 2%;
}

.Fale{
  color: #8e0e7f;
  left: 45%;
  top: 15%;
  position: absolute;
}

.Contato {
  width: 100%;
  height: 300%;
  display: flex;
  margin-bottom: 16%;
  margin-top: 10%;
}

.Contato-info {
  margin: auto;
  margin-top: 80px;
  width: 30%;
  height: 350px;
  text-align: center;
  background-color: #8e0e7f;
  opacity: 0.7;
  font-size: 20px;
  border-radius: 10%;
  font-weight: bold;
  border: 5px solid;
  border-color: #FF5B15;
}

.Contato-info span {
  color: white;
  line-height: 100px;
  font-size: 31px;
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
  }

.Contato-info h1 {
  color: white;
  opacity: 1;
}

.Contato-info p {
  line-height: 100%;
  color: white;
  font-size: 31px;
  opacity: 1;  
}

.wpp {
  width: 9%;
  top: 1.7vh;
  position: relative;
}

.fone {
  width: 4%;
  top: 0.5%;
  position: relative;
}

.email {
  width: 5%;
  top: 0.2vh;
  position: relative;
}

.footer{
  text-align: center;
  font-weight: bold;
  background-color: #8E0E7F;
  margin: 0;
  color:#FFC000;
  height: 24px;
  font-size: 18px;
  padding-top: 5px;
} 