::-webkit-scrollbar {
    
}

body{
    margin: 0 0 0 0 ;
    font-family: "Kulim Park";
}

.header{
    background-color: #8E0E7F;
    border-bottom: 3px solid #FF5B15;
    height: 80px;
    width: 100%;
    margin: 0;
}

.logo{
    height: 80px;
    margin-left: 1%;
}

.navbar{
    float: right;
    text-transform: uppercase;
    padding-top: 1.2%;
    font-weight: bold;
}

a:link{
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {  
    text-shadow: 3px 1px 1px rgb(0, 0, 0);
    transition: 0.5s;
    color: #FF5B15;
}

.navbar li {
    display: inline;
    margin-right: 25px;
    color: white;
}

.simulador_li {
    color: #B1B1B1;
}

/* BANNER */

.banner {
    margin: 0;
    background-image: url(planos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 16%;
    padding-bottom: 15%;
    background-size: cover;

}
.container {
    width: 80%;
    margin: auto;
}

.banner h1 {
    color: white;
    margin: 0;
    font-family: "Montserrat";
   
    font-size: 80px;
    font-weight: 1200;
}

.destaque {
    color: #FF5B15;
    width: 20%;
}

/* PLANOS */

.nossos_planos {
    background-color: #8736AA;
    align-items: center;
    text-align: center;
    overflow: auto;
    padding-bottom: 4%;
}

.nossos_planos li {
    list-style: none;
}
.nossos_planos ul {
    margin: 0;
    padding: 0;
}
.nossos_planos ul li::before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url('chicken-item.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
}

.nossos_planos h2 {
    margin: 0;
    padding-top: 6%;
    padding-bottom: 3%;
    width: 85%;
    margin: auto;
    margin-bottom: 5%;
    color: white;
    font-family: "Montserrat";
    font-size: 32px;
}
.nossos_planos .destaque {
    color: #FFC000;
}

.plano_mensal {
    font-size: 19px;
    background-color: white;
    float: left;
    width: 48%;
    margin-right: 3%;
    border-radius: 13px;
    padding-bottom: 3%;
    overflow: auto;
}
.um_ano{
    font-size: 19px;
    text-decoration-style: none;
    color: #5c5a5a;
    margin-right: 1%;
    width: 80%;
    margin: auto;
}
.preco_pacote {
    font-weight: bold;
    width: 80%;
    margin: auto;
}
.preco {
    font-size: 51px;
}
.plano_mensal ul li {
    color: #232323;
}

.plano_mensal h3 {
    font-size: 30px;
    color: white;
    background-color: #ED5B45;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 5%;
}

.plano_anual {
    font-size: 19px;
    margin-left: 1%;
    background-color: white;
    float: left;
    width: 48%;
    border-radius: 13px;
    overflow: auto;

}

.plano_anual h3 {
    font-size: 30px;
    color: white;
    background-color: #FFC000;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 5%;

} 

.plano_anual ul li {
    color: #232323;
}

.plano_anual h4 {
    color: #8736AA;
    background-color: #FFC000;
    width: 30%;
    margin-bottom: 0;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 2%;
    border-radius: 3px;
}

/* BOTÃO */

.faixa_botao{
    width: 100%;
    background-color: #FFC000;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}
.faca_uma_simulacao {
    padding: 1.2% 0 1.2% 0;
    background-color: #FF5B15;
    color: white;
    font-size: 23px;
    font-family: 'Kulim Park';
    width: 25%;
    margin-left: 40%;
}

/* SIMULADOR */



/* RODAPÉ */

/* .footer{
    text-align: center;
    font-weight: bold;
    background-color: #8E0E7F;
    height: 15%;
    margin: 0 0 0 0;
    color: rgb(255, 187, 0);
} */
